<div class="container">
  <div class="row" style="">
    <div class="col-sm" style="border:solid 1px green;border-radius: 5px;margin:1px">
      <h5 style="color: green">Executed</h5>
      <ul>
        <li><code>Home</code> Component</li>
        <li><code>Login</code> Service (serving data from json data saved statically)</li>
        <li><code>Login</code> Form with Validation</li>
        <li><code>Routing</code> Module</li>
        <li><code>Signup</code> Component</li>
        <li><code>Login</code> Component</li>
        <li><code>ProjectorApp</code> took birth</li>
      </ul>
    </div>
    <div class="col-sm" style="border:solid 1px red;border-radius: 5px;margin:1px">
      <h5 style="color: red">Queue</h5>
      <ul>
        <li><code>Dashboard</code> Component</li>
        <li>Login Functionality</li>
        <li><code>Signup</code> Service</li>
        <li>Signup Functionality</li>
        <li>Navigation Toggle Bar - for mobile view is broken</li>
      </ul>
    </div>
  </div>
</div>